	* {
		font-family: sans-serif;
		margin: 0;
	  	padding: 0;
		}

	a {
		text-decoration-line:none;
	}

	.primeraSeccion {
		height: 60px;
		background-color: #40164F;
		position: -webkit-sticky;
  		position: sticky;
  		top: 0;
		padding-top:20px;
		padding-left: 15px;
		z-index: 20;
	}

	.logo {
		height:40px;
		float:left;
		padding-bottom:20px;
		
	}

	.titular {
		position: relative;
		background: url("imagenes/chica_fondo_rosado.jpg");
		background-repeat: no-repeat;
 		background-position: center center;
		background-size: cover;
		width:100%;
		height: 250px;
		text-align: center;
		padding-top: 350px;
		color: white;

	}

	.titular h1 {
		font-size: 70px;
		padding-bottom: 10px;
	}

	.titular p {
		font-size: 20px;
	}

	.segundaSeccion {
		height: 310px;
		background-color: #ff3d97ff;
		position: relative;
		text-align: center;
		padding-top: 55px;
		color: white;
	}

	.segundaSeccion h2 {
		font-size: 40px;
	}

	.segundaSeccion p {
		font-size: 20px;
	}

	.segundaSeccion img {
		height: 110px;
		padding-bottom: 30px;
	}

	.catalogo {
		padding-top: 10px;
		padding-left: 120px;
		padding-right: 20px;
	}

	.catalogo img {
		width: 300px;
  		height: 300px;

	}

	.articulo {
		padding: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		border: 1px solid #dfdfdf;
		border-radius: 15px 15px 15px 15px;
		box-shadow: 2px 4px 6px #dfdfdf;
		float:left;		
	
	}

	.articulo h3 {
		font-size: 14px;
		color: #727272;
	}

	
	.posterior {
		height: 1px;
		clear: both;
	}


	.botonw {
		cursor: pointer;
  		display: flex;
		align-items:center;
		height: 20px;
		width:100px;
		background-color:#4ACA5B;
		border-radius: 15px 15px 15px 15px;
		padding-top:6px;
		padding-bottom:6px;
		padding-left: 12px;
		padding-right:4px;
		margin-top:10px;
		float:left;
	}
	.botonw img {
		width:25px;
		height:25px;
	}

	.botonw p {
		font-size: 13px;
		color: white;	
		width:70px;
	}

	.botond {
		cursor: pointer;
  		display: flex;
		align-items:center;
		height: 20px;
		width:80px;
		background-color:#ff3d97ff;
		border-radius: 15px 15px 15px 15px;
		padding-top:6px;
		padding-bottom:6px;
		padding-left: 25px;
		margin-top:10px;
		margin-left: 35px;
		margin-right:10px;
		float:left;
	}

	.botond p {
		font-size: 13px;
		color: white;	
		width:70px;
	}

	.direccion {
		height: 310px;
		background-color: #40164F;
		position: relative;
		text-align: center;
		padding-top: 60px;
		color: white;
	}

	.direccion h2 {
		font-size: 30px;	
	}


	.direccion div {
		display: flex;
		align-items:center;
		justify-content:center;

	}

	.redes {
		cursor: pointer;	
	}

	.redes img {
		height: 70px;
		width: 70px;
		padding-top: 80px;
		padding-left:40px;
		padding-right:40px;
		padding-bottom:80px;
	}

	footer {
		height: 25px;
		background-color: #ff3d97ff;
		color:white;
		font-size:13px;
		text-align:center;
	}

	#logoMenu {
		cursor: pointer;
	}

	.ordenDetalle {
		padding-left:50px;
		padding-top:50px;
	}

	.fotografiaDetalle {
		height:450px;
		width: 450px;
		border: 1px solid #dfdfdf;
		float:left;
	}

	.lista {
		float:right;
		color: #727272;
		padding-top:50px;
		padding-bottom:50px;
		float:left;
	}

	.lista h1 {
		display:inline;
		font-size: 17px;
		line-height: 2;
	}

	.lista ul {
		list-style: none;
		font-size:13px;
	}

	.separador {
		width:1px;
	}

	.botonesDetalle {
		display:inline;
	}

	.botonv {
		cursor: pointer;
  		display: flex;
		align-items:center;
		height: 20px;
		width:100px;
		background-color:#ff3d97ff;
		border-radius: 15px 15px 15px 15px;
		padding-top:6px;
		padding-bottom:6px;
		padding-left: 15px;
		padding-right: 10px;
		margin-top:40px;
		margin-left: 55px;
		margin-right:10px;
		float:left;
	}

	.botonv p {
		font-size: 13px;
		color: white;	
		width:100px;
	}

	.botonw2 {
		cursor: pointer;
  		display: flex;
		align-items:center;
		height: 20px;
		width:200px;
		background-color:#4ACA5B;
		border-radius: 15px 15px 15px 15px;
		padding-top:6px;
		padding-bottom:6px;
		padding-left: 12px;
		padding-right:4px;
		margin-top:40px;
		float:left;
	}

	.botonw2 img{
		width:25px;
		height:25px;
	}

	.botonw2 p {
		font-size: 13px;
		color: white;	
		width:167px;
	}

	.botonesGaleria {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width:450px;
	}

	.galeria {
		float:left;
		position: relative;
		display: inline-block;
	}

	.atras {
		cursor:pointer;
		float:left;
		background-color: black;
		height:40px;
		width:40px;
		border-style:none;
		opacity:0.5;
		color:white;
		font-weight:bold;
		border: 1px solid white;
	}

	.adelante {
		cursor:pointer;
		float:right;
		background-color: black;
		height:40px;
		width:40px;
		border-style:none;
		opacity:0.5;
		color:white;
		font-weight:bold;
		border: 1px solid white;		
	}